*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 810px;
    font-size: 25px;
}

span {
    font-weight: 600;
}

.row {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

[class*="col-"] {
    min-height: 50px;
    background: #006cfa;
    padding: 15px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
 }

.riga-vuota {
    margin-bottom: 1rem;
}

.box-nested {
    background: #00e165;
    border: 1px solid #006cfa;
}
