body {
    height: 100vh;
}
[class*="col-"] {
    min-height: 16px;
 }

 .conteiner {
    min-width: 680px;
    max-width: 680px;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
} 
.conteiner:hover{
    animation: pika .10s linear 6;
}
@keyframes pika {
    25% {
        left: 51%;
    }
    75% {
        left: 49%
    }
    100% {
        left: 50%
    }
}


.conteiner-heart {
    min-width: 680px;
    max-width: 680px;
    position: absolute;
    left: -5%;
    top: 0;
    transform: scale(.6);
    animation: cuore 1s linear infinite;
}

@keyframes cuore {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(.7);
    }
    100% {
        transform: scale(.5);
    }
}


.black {
    background-color: black;
}

.grey-1 {
    background-color: #2d2d2d;
}

.grey-2 {
    background-color: #44424b;
}

.brown-1 {
    background-color: #573213;
}

.brown-2 {
    background-color: #8a5314;
}

.brown-3 {
    background-color: #cb9322;
}

.yellow-1 {
    background-color: #e7bc38;
}

.yellow-2 {
    background-color: #f2e55f;
}

.yellow-3 {
    background-color: #fcf6a7;
}

.red {
    background-color: #da0000;
}
.red-1 {
    background-color: #ca5b45;
}

.red-2 {
    background-color: #a9251f;
}